In [15]:
import yellowcab
import pandas as pd
import numpy as np
from sklearn import metrics

In [ ]:
# yellowcab --predict -i "D:\Git\pds_brooklyn\data\input\trip_data\raw\04.parquet" -o "D:\Git"

In [2]:
df = pd.read_parquet(r"D:\Git\new_data.parquet")

In [3]:
df2 = yellowcab.io.read_file(r"D:\Git\pds_brooklyn\data\input\trip_data\raw\01.parquet")

In [4]:
df2 = yellowcab.io.create_clean_trip_dataset(data=df2, feat=True, ret=True)

Using given data
Filtering the borough
Adding duration for filtering
Filtering the extreme values
Augmenting the raw data

d:\git\pds_brooklyn\yellowcab\io\utils.py:52: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geo_data["longitude"] = gdf.centroid.x
d:\git\pds_brooklyn\yellowcab\io\utils.py:53: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geo_data["latitude"] = gdf.centroid.y

Trips with location_id above 263 were dropped, since there is no matching geo data.
Resetting index and saving

In [5]:
# df2[df2.isna().any(axis=1)]

In [6]:
# df[df.isna().any(axis=1)]

In [7]:
df2 = df2.sample(100)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,...,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions,long_dif,lat_dif
0,2020-01-01 00:29:01,2020-01-01 00:40:28,2.0,0.70,1.0,246,48,1.0,8.0,3.0,...,0.00,22.1,261.0,33.7,16.0,52.2,66.43,Partially cloudy,0.014170,0.008944
1,2020-01-01 00:50:58,2020-01-01 01:06:09,1.0,1.39,1.0,246,48,2.0,10.0,0.5,...,0.00,18.3,270.0,38.9,16.0,16.2,64.63,Clear,0.014170,0.008944
2,2020-01-01 00:24:18,2020-01-01 00:52:47,1.0,2.15,99.0,246,48,2.0,17.0,0.5,...,0.00,22.1,261.0,33.7,16.0,52.2,66.43,Partially cloudy,0.014170,0.008944
3,2020-01-01 00:40:58,2020-01-01 00:51:25,1.0,0.50,1.0,246,48,1.0,7.5,3.0,...,0.00,18.3,270.0,38.9,16.0,16.2,64.63,Clear,0.014170,0.008944
4,2020-01-01 00:47:46,2020-01-01 01:03:04,1.0,1.29,1.0,246,48,2.0,10.0,0.5,...,0.00,18.3,270.0,38.9,16.0,16.2,64.63,Clear,0.014170,0.008944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990413,2020-01-31 22:09:57,2020-01-31 22:31:29,1.0,9.38,1.0,132,30,2.0,27.5,0.5,...,0.00,5.5,30.0,NaN,15.3,26.4,88.89,"Rain, Partially cloudy",0.035394,0.043297
1990414,2020-01-12 00:53:30,2020-01-12 02:06:31,1.0,27.70,1.0,88,30,1.0,89.0,3.0,...,0.00,5.7,154.0,NaN,15.1,50.7,83.46,Partially cloudy,0.189588,0.099670
1990415,2020-01-16 12:32:47,2020-01-16 13:12:10,1.0,27.75,1.0,132,99,1.0,73.0,0.0,...,0.00,16.9,338.0,31.6,16.0,25.3,45.80,Partially cloudy,0.399886,0.070211
1990416,2020-01-12 02:09:49,2020-01-12 02:44:40,1.0,29.81,1.0,216,99,1.0,78.0,0.5,...,0.00,0.7,14.0,NaN,10.7,15.5,86.24,Rain,0.366959,0.099380
1990417,2020-01-20 19:16:38,2020-01-20 19:33:24,1.0,8.80,1.0,132,2,2.0,25.5,0.0,...,1.63,9.5,251.0,70.2,16.0,0.0,37.06,Clear,0.044766,0.030240

In [8]:
df2[['passenger_count', 'PULocationID', 'DOLocationID',
    'start_month', 'start_day', 'start_hour', 'start_week', 'weekend', 'weekday',
    'start_location_long', 'start_location_lat', 'end_location_long', 'end_location_lat',
    'DOBorough', 'DOservice_zone', 'PUBorough', 'PUservice_zone']]

,passenger_count,PULocationID,DOLocationID,start_month,start_day,start_hour,start_week,weekend,weekday,start_location_long,start_location_lat,end_location_long,end_location_lat,DOBorough,DOservice_zone,PUBorough,PUservice_zone
0,2.0,246,48,1,1,0,1,0,3,-74.004015,40.753309,-73.989845,40.762253,Manhattan,Yellow Zone,Manhattan,Yellow Zone
1,1.0,246,48,1,1,0,1,0,3,-74.004015,40.753309,-73.989845,40.762253,Manhattan,Yellow Zone,Manhattan,Yellow Zone
2,1.0,246,48,1,1,0,1,0,3,-74.004015,40.753309,-73.989845,40.762253,Manhattan,Yellow Zone,Manhattan,Yellow Zone
3,1.0,246,48,1,1,0,1,0,3,-74.004015,40.753309,-73.989845,40.762253,Manhattan,Yellow Zone,Manhattan,Yellow Zone
4,1.0,246,48,1,1,0,1,0,3,-74.004015,40.753309,-73.989845,40.762253,Manhattan,Yellow Zone,Manhattan,Yellow Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990413,1.0,132,30,1,31,22,5,0,5,-73.786533,40.646985,-73.821927,40.603687,Queens,Boro Zone,Queens,Airports
1990414,1.0,88,30,1,12,0,2,1,7,-74.011515,40.703358,-73.821927,40.603687,Queens,Boro Zone,Manhattan,Yellow Zone
1990415,1.0,132,99,1,16,12,3,0,4,-73.786533,40.646985,-74.186419,40.576774,Staten Island,Boro Zone,Queens,Airports
1990416,1.0,216,99,1,12,2,2,1,7,-73.819460,40.676154,-74.186419,40.576774,Staten Island,Boro Zone,Queens,Boro Zone
1990417,1.0,132,2,1,20,19,4,0,1,-73.786533,40.646985,-73.831299,40.616745,Queens,Boro Zone,Queens,Airports

In [9]:
output = pd.DataFrame()

In [10]:
trip_distance_model = yellowcab.model.trip_distance_model()

D:\Git\pds_brooklyn\notebooks\3_prediction\..\..\data\output\models\s2_trip_distance_mlp_model.pkl

In [11]:
output["p_trip_distance"] = trip_distance_model.predict(df2[
            ['passenger_count', 'PULocationID', 'DOLocationID',
            'start_month', 'start_day', 'start_hour', 'start_week', 'weekend', 'weekday',
            'start_location_long', 'start_location_lat', 'end_location_long', 'end_location_lat',
            'DOBorough', 'DOservice_zone', 'PUBorough', 'PUservice_zone']])

In [12]:
output

         p_trip_distance
0               1.128167
1               1.125242
2               1.125242
3               1.125242
4               1.125242
...                  ...
1990413         9.719625
1990414        22.465151
1990415        35.015461
1990416        32.550814
1990417        12.210777

[1990418 rows x 1 columns]

In [13]:
df2["trip_distance"]

0           0.70
1           1.39
2           2.15
3           0.50
4           1.29
           ...
1990413     9.38
1990414    27.70
1990415    27.75
1990416    29.81
1990417     8.80
Name: trip_distance, Length: 1990418, dtype: float64

In [16]:
print("RMSE:", np.sqrt(metrics.mean_squared_error(df2["trip_distance"], output["p_trip_distance"])))
print("MAE:", metrics.mean_absolute_error(df2["trip_distance"], output["p_trip_distance"]))

RMSE: 0.9817890754192702
MAE: 0.48702578975055716